.App {
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  width: 800px;
  background-color: white;
  padding: 20px;
}
.field-label {
  margin-top: 10px;
  margin-bottom: 2px;
}
.error-label {
  color: #ec524b;
  margin-bottom: 2px;
  display: block;
}
.submit-button {
  width: 220px;
  height: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  align-self: center;
}
.add-row-button {
  width: 180px;
  height: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  align-self: center;
}
.description {
  color: #898b8a;
  font-size: 11px;
}
.note {
  color: #000;
  font-size: 10px;
  background-color: #dfe0df;
  padding: 5px;
  width: max-content;
}
.note-description {
  border: 1px green solid;
  width: auto;
  background-color: lightgreen;
  padding: 10px;
}
.space-align-container {
  width: 100%;
  border: 1px grey dashed;
  padding: 20px;
  margin-top: 30px;
}
.space-align-block {
  display: flex;
  justify-content: space-between;
}

.card-icon {
  width: 40px;
}
.card-name {
  margin-left: 7px;
}
.card-view {
  margin-top: 10px;
}
.vert-flex {
  display: flex;
  flex-direction: column;
}
.PhoneInputInput {
  border: none;
}
.ml-10 {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
